/* PAGE WRAPPER */
.contact-wrapper {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

/* HEADINGS */
.heading {
  font-size: 48px;
  font-weight: 800;
  background: linear-gradient(45deg, #6a5af9, #ff7ce5);
  -webkit-background-clip: text;
  color: transparent;
}

.sub-heading {
  margin-top: 10px;
  font-size: 18px;
  color: #dfd3d3;
}

/* CONTACT BOX */
.contact-box {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

/* GLASS PANEL LEFT SIDE */
.left-panel {
  flex: 1;
  min-width: 300px;
  padding: 25px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: left;
  animation: fadeIn 1s ease forwards;
}

.left-panel h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #fff;
}

.left-panel p {
  color: #e7dada;
  font-size: larger;
  margin: 10px;
}

/* SOCIAL BUTTONS */
.socials {
  margin-top: 20px;
  color: #fff;
  
}

.social-btn {
  display: inline-block;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 10px;
  text-decoration: none;
  
  font-size: 15px;
  transition: 0.3s;
  border: 1px solid transparent;
}

.linkedin {
  background: #0a66c2;
  color: #fff;
}

.github {
  background: #000;
  color: #fff;
}

.portfolio {
  background: #6a5af9;
  color: white;
}

.social-btn:hover {
  transform: translateY(-3px) scale(1.1);

  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* FORM */
.contact-form {
  flex: 1;
  min-width: 300px;
  padding: 30px;
  background: rgba(255,255,255,0.15);
  border-radius: 20px;
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.3);
  animation: fadeUp 1s ease forwards;
}

.form-title {
  margin-bottom: 20px;
  font-size: 25px;
  color: #c4cfda;
  font-weight: 600;
}

/* FLOATING INPUTS */
.input-group {
  position: relative;
  margin: 20px 0;
  /* width: 100%; */
}

.input-group input,
.input-group textarea {
  /* position: relative; */
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #aaa;
  outline: none;
  font-size: 18px;
  color: #e7dada;
  transition: 0.3s;
}

.input-group label {
  position: absolute;
  background: transparent;
  left: 15px;
  top: 12px;
  transition: 0.3s;
  background: rgb(63, 59, 59);
  padding: 0 5px;
  pointer-events: none;
  color: #ecdbdb;
}

/* ANIMATION WHEN FOCUSED */
.input-group input:focus,
.input-group textarea:focus {
  border-color: #6a5af9;
}

.input-group input:focus + label,
.input-group textarea:focus + label,
.input-group input:valid + label,
.input-group textarea:valid + label {
  top: -8px;
  left: 12px;
  font-size: 16px;
  color: #e1e0e9;
}

/* BUTTON */
.send-btn {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(45deg, #6a5af9, #ff7ce5);
  color: white;
  transition: 0.3s;
}

.send-btn:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* FADE ANIMATIONS */
@keyframes fadeIn {
  from {opacity: 0; transform: translateX(-20px);}
  to {opacity: 1; transform: translateX(0);}
}

@keyframes fadeUp {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
