*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
body{
  background-color: rgb(39, 35, 35);
  overflow-x: hidden;
    

}
.box{
  height: 50px;
  width: 100px;
  background-color: brown;
}


