/* Three.js Background */
.three-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: -4;
  background: transparent;
}

/* Page Wrapper */
.skills-wrapper {
  min-height: 100vh;
  width: 100%;
  padding:  20px;
  display: flex;  margin-top: 30px;

  justify-content: center;
  align-items: flex-start;
  background-color: rgb(29, 27, 27);
  background: transparent;
}

/* Skills Section */
.skills-section {
  /* background-color: rgba(14, 11, 11, 0.15); */

  /* backdrop-filter: blur(15px); */
  border-radius: 20px;
  padding: 40px;
  background: transparent;
  max-width: 1100px;
  width: 100%;
  /* box-shadow: 0 10px 40px rgba(0,0,0,0.25); */
}

.skills-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
  color: rgb(223, 212, 212);
  font-weight: bold;
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
justify-content: center;
  gap: 30px;
}

/* Skill Cards */
.skill-card {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: black;
  cursor: default;
  transform: translateY(0);
  transition: 0.3s ease;
  /* backdrop-filter: blur(8px); */
}

.skill-card:hover {
  transform: translateY(-10px) scale(1.05);
  background: rgba(255, 255, 255, 0.35);
}

.skill-icon {
  font-size: 45px;
  color: rgb(29, 28, 28);
  margin-bottom: 10px;
}

.skill-name {
  font-size: 16px;
  font-weight: 600;
  color: #1a1818;
}
